---
# yamllint disable rule:line-length
name: pre-commit
on:       # yamllint disable-line rule:truthy
  push:
    branches:
      - "**"
permissions: read-all
jobs:
  pre-commit:
    name: Pre Commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install pre-commit dependencies
        run: |
          mkdir -p "$HOME/.local/bin"
          echo "$HOME/.local/bin" >> $GITHUB_PATH

          TF_DOCS_VERSION="$(curl -sfSL https://api.github.com/repos/terraform-docs/terraform-docs/releases/latest | jq -r '.tag_name')"
          curl -sfSLo ./terraform-docs.tar.gz https://github.com/terraform-docs/terraform-docs/releases/download/$TF_DOCS_VERSION/terraform-docs-$TF_DOCS_VERSION-$(uname)-amd64.tar.gz
          tar -xzf terraform-docs.tar.gz terraform-docs
          chmod +x terraform-docs
          mv terraform-docs $HOME/.local/bin/

          TF_LINT_ZIP=$(curl -sfSL https://api.github.com/repos/terraform-linters/tflint/releases/latest | grep -o -E "https://.+?_linux_amd64.zip")
          curl -sfSL "$TF_LINT_ZIP" > tflint.zip
          unzip tflint.zip && rm tflint.zip
          mv tflint $HOME/.local/bin/

          TRIVY_VERSION="$(curl -sfSL https://api.github.com/repos/aquasecurity/trivy/releases/latest | jq -r '.tag_name' | tr -d 'v')"
          curl -sfSL "https://github.com/aquasecurity/trivy/releases/download/v"$TRIVY_VERSION"/trivy_"$TRIVY_VERSION"_Linux-64bit.deb" > trivy.deb
          sudo dpkg -i trivy.deb

          pip3 install checkov
      - uses: pre-commit/action@v3.0.1
